﻿@using Entities.Models;
@model IEnumerable<Table>


<title>Bootstrap Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">

    <ul class="nav nav-tabs">
        <li><a id="IndoorTab" data-toggle="tab" href="#IndoorId">Indoor</a></li>
        <li><a id="OutdoorTab" data-toggle="tab" href="#OutdoorId">Outdoor</a></li>
        <li><a id="GardenTab" data-toggle="tab" href="#GardenId">Garden</a></li>
    </ul>

    <div class="tab-content">
        <div id="IndoorId" class="tab-pane fade">
            <h3 class="text-center">Indoor Tables</h3>
            @foreach (var table in Model)
            {
                if (table.Area == Area.Indoor)
                {
                    <div class=" col-md-2">
                        @Html.ActionLink($"Table {table.Id} Create A New Order", "Create", "Orders", null, new { @class = "btn btn-success btn-large" })
                    </div>
                    <div class="col-md-1"></div>
                }
            }
        </div>
        <div id="OutdoorId" class="tab-pane fade">
            <h3 class="text-center">Outdoor Tables</h3>
            @foreach (var table in Model)
            {
                if (table.Area == Area.Outdoor)
                {
                    <div class=" col-md-2">
                        @Html.ActionLink($"Table {table.Id} Create A New Order", "Create", "Orders", null, new { @class = "btn btn-success btn-large" })
                    </div>
                    <div class="col-md-1"></div>

                }
            }
        </div>
        <div id="GardenId" class="tab-pane fade">
            <h3 class="text-center">Garden Tables</h3>
            @foreach (var table in Model)
            {
                if (table.Area == Area.Garden)
                {
                    <div class=" col-md-2">
                        @Html.ActionLink($"Table {table.Id} Create A New Order", "Create", "Orders", null, new { @class = "btn btn-success btn-large" })
                    </div>
                    <div class="col-md-1"></div>

                }
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#IndoorTab").click();
    });
</script>