﻿@model IEnumerable<Entities.Models.Item>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="@item.Image" alt="...">
            <div class="caption">
                <h3>@item.Name - @item.Price €</h3>
                <div class="form-group">
                    <label asp-for="@item.Note" class="control-label"></label>
                    <input asp-for="@item.Note" class="form-control" />
                </div>
                <p>
                    <a href="#" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </a>
                    <a href="#" class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-minus"></span> Remove
                    </a>
                </p>
            </div>
        </div>
    </div>
}
