﻿@model Entities.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h4>Order No. @Model.Id</h4>  @Model.Date
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="WaiterId" class="control-label"></label>
            @Html.DisplayFor(Model => Model.WaiterId)
        </div>
        <div class="form-group col-md-3">
            <label asp-for="TotalOrderPrice" class="control-label"></label>
            @Html.DisplayFor(Model => Model.TotalOrderPrice)
        </div>
    </div>

    <div class="row"> @{ Html.RenderPartial("_Items", Model.Items); }</div>

    <div class="row text-center">
        <div class="form-group">
            <input type="button" value="Back To Tables" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-large col-md-6" />
            <input type="submit" value="Send Order" class="btn btn-success btn-large col-md-6" />
        </div>  
    </div>

</form>
